# Data Types and Structures Questions

1. What are data structures, and why are they important ?
   
   > Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently.
   
   > Data Structures are important because they :
    * Simplify data manipulation (adding, removing, modifying elements)
    * Optimize searching and sorting operations
    * Conserve memory usage

2. Explain the difference between mutable and immutable data types with examples.  
- Mutable → data types can be changed or modified after they are created.  lists, dictionaries, and sets are mutable. Example:
  
  my_list = [1, 2, 3]

  my_list[0] = 10   // can change value
  
- Immutable → Data types cannot be changed after they are created. Tuples, strings, and integers are immutable. Example:  
  
  my_tuple = (1, 2, 3)

  my_tuple[0] = 10    // cannot change value

3. What are the main differences between lists and tuples in Python?
- **List**: Lists are mutable, represented using square brackets `[]`.
- **Tuple**: Tuples are Immutable,  represented using Parentheses `()`.

4. Describe how dictionaries store data.
> Dictionaries store data as a collection of key-value pairs.
> Each key is unique and is used to retrieve its associated value.

5. Why might you use a set instead of a list in Python?
> Because :

>* Sets automatically remove duplicates, which is useful for tasks like finding all unique items in a collection.

>* provides faster membership testing (i.e Checking if an item is in a set ) as compared to list

6. What is a string in Python, and how is it different from a list?  
-  A string is a sequence of characters, such as letters, numbers, and symbols. It is an immutable data type.
-  A list is an ordered, mutable collection of elements of various data types.
- The main difference is that a string's contents cannot be changed after creation (immutable), while a list's can (mutable).

7. How do tuples ensure data integrity in Python?
> Since tuples are immutable, their contents cannot be modified.  
> This makes them reliable when you want to store constant data that should not change.

8. What is a hash table, and how does it relate to dictionaries in Python?  
> A hash table is a data structure that maps keys to values using a hash function.  
> Python's dictionaries are implemented using a hash table. When you create a key-value pair, the key is "hashed" to determine where its value will be stored.

9. Can lists contain different data types in Python?
> Yes, lists contain different data types.

10. Explain why strings are immutable in Python.
> Strings are immutable to ensure **security, efficiency, and consistency** (e.g., hash values remain constant when used as dictionary keys).

11. What advantages do dictionaries offer over lists for certain tasks?
- Faster lookups by key
- Store data in **key-value format** for meaningful access.  
- Avoid searching by index.

12. Describe a scenario where using a tuple would be preferable over a list.
> A good scenario for using a tuple is when you need to store a collection of related items that should not change, such as geographical coordinates.

> For example, (latitude, longitude). Since coordinates are a fixed pair of values, a tuple is a better choice than a list.

13. How do sets handle duplicate values in Python?
> Sets automatically **remove duplicates**.

14. How does the “in” keyword work differently for lists and dictionaries?  
- Lists: `item in my_list` checks if the specified item is present as a value in the list.
- Dictionaries: `key in my_dict` checks if the specified key is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
> No, you cannot modify the elements of a tuple because tuples are **immutable**.  
> Once created, elements cannot be changed or reassigned.

16. What is a nested dictionary, and give an example of its use case?
> A **nested dictionary** is a dictionary inside another dictionary.  

Example:  
```python
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
```
Use case: Storing structured data like student records.

17. Describe the time complexity of accessing elements in a dictionary.
- **Average case**: O(1) (constant time).  
- **Worst case (rare)**: O(n) due to hash collisions.

18. In what situations are lists preferred over dictionaries?  
Lists are preferred over dictionaries when:

- The order of the elements is important.

- You need to store a collection of items where each item is identified by its position or index, rather than a unique key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
> Traditionally, dictionaries were unordered (before Python 3.7).  
> Now they maintain **insertion order**, but still retrieval is by **key, not position**.  
> You can’t rely on index-based access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- **List** are accessed by their integer index
- **Dictionaries**  are accessed by their unique key. You retrieve a value based on an associated key.

#Practical Questions

1.Write a code to create a string with your name and print it?

In [ ]:
name = "srushti"
print(name)

srushti

2.Write a code to find the length of the string "Hello World"

In [ ]:
string =  "Hello World"
len(string)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str1 = "Python Programming"
print(str1[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
word = "hello"
word.upper()

'HELLO'

5. Write a code to Replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
sentence = "I like apple"
sentence.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1,2,3,4]
numbers.append(10)
numbers

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1,2,3,4,5]
numbers.remove(3)
numbers

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
chars = ['a','b', 'c', 'd']
chars[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
num = [10, 20, 30, 40, 50]
num.reverse()
num

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
number = (100,200,300)
print(number)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
colors[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
num = (10, 20, 5, 15)
min(num)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animal = ('dog', 'cat', 'rabbit')
animal.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [1]:
fruits =("banana", "apple", "grapes")
if "kiwi" in fruits:
    print("Yes, 'kiwi' is in the tuple.")
else:
    print("No, 'kiwi' is not in the tuple.")

No, 'kiwi' is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
char_set = {'a', 'b','c'}
print(char_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 | s2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s3 = {1, 2, 3}
s4 = {2,3, 4}
print(s3 & s4)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict1 = {"name":"srushti", "age":22, "city": "mumbai"}
print(dict1)

{'name': 'srushti', 'age': 22, 'city': 'mumbai'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
info = {"name":"John", "age":25}
info["country"]= "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict2 = {'name': 'Alice', 'age': 30}
dict2.get("name")

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.pop("age")
print(d1)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if "city" in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]

my_tuple = (10, 20, 30, 40, 50)

my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

numbers = [random.randint(1, 100) for _ in range(5)]
print("Original list:", numbers)

numbers.sort()
print("Sorted list:", numbers)

Original list: [100, 76, 37, 75, 19]
Sorted list: [19, 37, 75, 76, 100]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_strings = ["apple", "banana", "cherry", "date", "fig"]
print(my_strings[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1.copy()
combined_dict.update(dict2)

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)

print("Original list:", string_list)
print("Converted set:", string_set)

Original list: ['apple', 'banana', 'cherry', 'apple', 'banana']
Converted set: {'cherry', 'apple', 'banana'}